* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face {
    font-family: "seroona-bold";
    src: url(font/Sequel_Demo.ttf);
}

body {
    background-color: #4C0677;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.container {
    width: 800px;
    height: 500px;
    perspective: 1000px;
}

div.flip-card-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* div.container:hover div.flip-card-inner {
    transform: rotateY(180deg);
} */

div.card,
div.card-back {
    width: 800px;
    height: 500px;
    background-color: #921FC3;
    box-shadow: 0px 1px 12px 8px rgba(0, 0, 0, 0.329);
    border-radius: 30px;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr 2fr 1fr;
    grid-template-columns: 2fr 5fr 6fr 2fr 4fr 2fr;
    border-radius: 30px;
    overflow: hidden;
    position: absolute;
    -webkit-backface-visibility: hidden;/* Safari */
    backface-visibility: hidden;
}

div.card-back:hover, div.card:hover{
    cursor: pointer;
}

div.card-back {
    transform: rotateY(180deg);
}

div.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: -350px;
    width: 150px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    z-index: 100;
    transform: skewX(-30deg);
    transition: 0.7s;
}
div.card:hover:before {
    left: 950px;
}

div.flag {
    position: relative;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 6;
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.red-circle {
    position: absolute;
    height: 80%;
    width: 65%;
    background-color: #e71923;
    align-self: flex-start;
    border-radius: 50%;
}

div.yellow-circle {
    position: absolute;
    height: 80%;
    width: 65%;
    background-color: #f99c19;
    align-self: flex-end;
    border-radius: 50%;
    overflow: hidden;
}

div.yellow-circle::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F26520;
    left: -54%;
    border-radius: 50%;
}

div.chip {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    background: linear-gradient(180deg, #787878 0%, #b5b5b5 25%, #e3e3e3 50%, #b5b5b5 75%, #787878 100%);
    height: 70%;
    width: 95%;
    border-radius: 8px;
    border: solid 1.5px black;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.301);
}

div.point {
    background-color: black;
    width: 5px;
    height: 5px;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    grid-area: 1 / 2 / 2 / 3;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.342);
}

div.frame-1,
div.frame-2,
div.elipse {
    border: solid 1.5px rgb(0, 0, 0);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.575);
}

div.frame-1 {
    grid-area: 2 / 1 / 3 / 2;
    border-left: 0px;
    border-right: 0px;
}

div.elipse {
    grid-area: 1 / 2 / 4 / 3;
    border-radius: 50%;
}

div.frame-2 {
    grid-area: 2 / 3 / 3 / 4;
    border-right: 0px;
    border-left: 0px;
}

div.rfid {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 3;
    align-self: center;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.semicircle,
div.semicircle::before {
    border: 20px double transparent;
    border-radius: 50%;
    border-right-color: #fff;
    width: 50px;
    height: 50px;
}

div.semicircle::before {
    content: "";
    margin: -50px -50px -50px -43px;
    padding: 30px 0px 20px 60px;
}

div.logo {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    /* background-color: white; */
    display: grid;
    grid-template-columns: 16px 9px 16px 16px 7px 16px 16px 9px 16px;
    grid-template-rows: 1fr 14px 16px 1fr 13px;
}

div.external-n {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 5;
    border: 2px solid #fff;
    border-top-right-radius: 40%;
    border-top-left-radius: 26%;
    border-bottom-right-radius: 5px;
    position: relative;
}

div.internal-n {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    border: 2px solid #fff;
    border-radius: 5px;
    border-top-right-radius: 23%;
    border-top-left-radius: 23%;
    position: relative;
}

div.internal-n::before {
    content: "";
    z-index: 1;
    background-color: #921FC3;
    width: 56%;
    height: 33%;
    top: calc(50% + 15px);
    left: calc(50% - 3px);
    position: absolute;
}

div.external-u {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 6;
    grid-column-end: 9;
    border: 2px solid #fff;
    border-radius: 5px;
    border-bottom-right-radius: 26%;
    border-bottom-left-radius: 40%;
}

div.internal-u {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 7;
    grid-column-end: 10;
    border: 2px solid #fff;
    border-radius: 5px;
    border-bottom-right-radius: 23%;
    border-bottom-left-radius: 23%;
    position: relative;
}

div.internal-u::before {
    content: "";
    width: 56%;
    height: 33%;
    background-color: #921FC3;
    top: calc(-50% + 15px);
    left: calc(-50% + 18px);
    position: absolute;
}

div.name {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 400px;
    height: 100px;
    display: flex;
}

p {
    background-color: #921FC3;
    font-family: "seroona-bold";
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    align-self: flex-end;
    padding-left: 30px;
    font-size: 25px;
}